{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<style>
    .categories-bar{
        margin-bottom:20px;
        padding-left: 20px;
    }
    .label{
        padding: .3em .6em .3em;
        display: inline-block;
        font-size: 14px;
        margin: 4px 4px 0 0;
        line-height: 26px;
        font-weight: normal;
        background-color: #10303f;
    }
    .label a:link {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    .label a:visited {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    .td-font{
        line-height: 90px;
    }
</style>

<div class="page-header">
    <h1>Item List</h1>
</div>
<div class="categories-bar">
    {% if cates != None %}
    <div class="label"><a href="{{ url_for('public.index') }}">All</a></div>
    {% for cate in cates %}
    <div class="label"><a href="{{ url_for('public.cate', cate_id=cate.id) }}">{{cate.name}}</a></div>
    {% endfor %}
    {% endif %}
</div>
<br>
<div class="container main-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <td><b>Img</b></td>
                <td><b>Name</b></td>
                <td><b>Price</b></td>
                <td><b>Num</b></td>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td><span><img src="{{ images.url(item.img)}}" height="100px" width="100px"></span></td>
                <td><span class="td-font">{{ item.name }}</span></td>
                <td><span class="td-font">{{ item.price }}</span></td>
                <td><span class="td-font">{{ item.num }}</span></td>
                <td><a href="{{ url_for('public.item', item_id=item.id) }}" class="td-font">More</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
{% endblock %}
