{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Item Description</h1>
</div>
item name : {{ item.name }}
<br>
<a href="{{ url_for('public.owner', owner_id=item.owner_id) }}">owner : {{ item.owner_id }}</a>
<br>
price : {{ item.price }}
<br>
num : {{ item.num }}
<br>
description : {{ item.desc }}
<br>
category: {{ item.cate.name }}
<br>
<br>
<a href="{{ url_for('buy.add2cart', id=item.id) }}">add2cart</a>
<br>
<a href="{{ url_for('buy.buy', id=item.id) }}">buy</a>
{% endblock %}
