{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>商品描述</h1>
</div>
<div style="font-size: 25px">
<img src="{{ images.url(item.img)}}" height="100px" width="100px">
<br>
商品名称 : {{ item.name }}
<br>
<a href="{{ url_for('public.owner', owner_id=item.owner_id) }}">卖家 : {{ item.owner_id }}</a>
<br>
价格 : {{ item.price }}
<br>
数量 : {{ item.num }}
<br>
描述 : {{ item.desc }}
<br>
种类 : {{ item.cate.name }}
<br>
</div>
<br>
<a href="{{ url_for('buy.add2cart', id=item.id) }}">添加到购物车</a>
<br>
<a href="{{ url_for('buy.buy_item', id=item.id) }}">下单</a>
{% endblock %}
