{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<style>
    .td-font{
        line-height: 90px;
    }
</style>

<div class="page-header">
    <h1>购物车列表</h1>
</div>
<div class="container main-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <td><b>商品图像</b></td>
                <td><b>名称</b></td>
                <td><b>价格</b></td>
                <td><b>数量</b></td>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td><span><img src="{{ images.url(item.img)}}" height="100px" width="100px"></span></td>
                <td><span class="td-font">{{ item.name }}</span></td>
                <td><span class="td-font">{{ item.price }}</span></td>
                <td><span class="td-font">{{ cart[loop.index0].num }}</span></td>
                <td><a href="{{ url_for('public.item', item_id=item.id) }}"class="td-font">详情</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('buy.buy_cart') }}">确认下单</a>
</div>
<br>
{% endblock %}
