{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<style>
    .td-font{
        line-height: 90px;
    }
</style>

<div class="page-header">
    <h1>Order List</h1>
</div>
<div class="container main-container">
    {% for order in orders %}
        <div>{{ order.date }}</div>
        <table class="table table-striped">
            <thead>
                    <tr>
                        <td><b>Img</b></td>
                        <td><b>Item Id</b></td>
                        <td><b>Num</b></td>
                    </tr>
                </thead>
                <tbody>
                {% for item in itemslist[loop.index0] %}
                    <tr>
                        <td><span><img src="{{ images.url(imag_name[item.id])}}" height="100px" width="100px"></span></td>
                        <td><span class="td-font">{{ item.item_id }}</span></td>
                        <td><span class="td-font">{{ item.num }}</span></td>
                        <td><a href="{{ url_for('public.item', item_id=item.id) }}" class="td-font">More</a></td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
        <div>{% if order.status %}已发货{% else %}未发货{% endif %}</div>
        <br>
    {% endfor %}
</div>
<br>
{% endblock %}
