{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<style>
    .td-font{
        line-height: 90px;
    }
</style>

<div class="page-header">
    <h1>订单列表</h1>
</div>
<div class="container main-container">
    {% for order in orders %}
        <div>下单时间 : {{ order.date }}</div>
        <table class="table table-striped">
            <thead>
                    <tr>
                        <td><b>商品图像</b></td>
                        <td><b>序号</b></td>
                        <td><b>数量</b></td>
                    </tr>
                </thead>
                <tbody>
                {% for item in itemslist[loop.index0] %}
                    <tr>
                        <td><span><img src="{{ images.url(img_dict[item.item_id])}}" height="100px" width="100px"></span></td>
                        <td><span class="td-font">{{ item.item_id }}</span></td>
                        <td><span class="td-font">{{ item.num }}</span></td>
                        <td><a href="{{ url_for('public.item', item_id=item.id) }}" class="td-font">详情</a></td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
        <div>
            {% if order.status == 0 %}未付款，<a href="{{ url_for('buy.pay', order_id=order.id) }}">付款</a>
            {% elif order.status == 1 %}未发货
            {% elif order.status == 2 %}已发货，<a href="{{ url_for('buy.receive', order_id=order.id) }}">确认收货</a>
            {% else %}已完成
            {% endif %}
        </div>
        <br>
    {% endfor %}
</div>
<br>
{% endblock %}
