{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Cart List</h1>
</div>
<div class="container main-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <td><b>Img</b></td>
                <td><b>Name</b></td>
                <td><b>Price</b></td>
                <td><b>Num</b></td>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td><span>img</span></td>
                <td><span>{{ item.name }}</span></td>
                <td><span>{{ item.price }}</span></td>
                <td><span>{{ cart[loop.index0].num }}</span></td>
                <td><a href="{{ url_for('public.item', item_id=item.id) }}">More</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('private.buy_cart') }}">买买买</a>
</div>
<br>
{% endblock %}
